Repository element-hq/matrix-authentication-service, pull requests merged in 2025-06, with the labels that each got.

#4603 Add the user deactivation state in the admin API
  crates/handlers/src/admin/model.rs
  crates/handlers/src/admin/v1/users/list.rs
  docs/api/spec.json
Labels: A-Admin-API, T-Enhancement

#4619 Registration tokens
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/manage.rs
  crates/cli/src/util.rs
  crates/config/src/sections/account.rs
  crates/data-model/src/lib.rs
  crates/data-model/src/site_config.rs
  crates/data-model/src/users.rs
  crates/handlers/src/admin/mod.rs
  crates/handlers/src/admin/model.rs
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/user_registration_tokens/add.rs
  crates/handlers/src/admin/v1/user_registration_tokens/get.rs
  crates/handlers/src/admin/v1/user_registration_tokens/list.rs
  crates/handlers/src/admin/v1/user_registration_tokens/mod.rs
  crates/handlers/src/admin/v1/user_registration_tokens/revoke.rs
  crates/handlers/src/lib.rs
  crates/handlers/src/test_utils.rs
  crates/handlers/src/views/register/steps/finish.rs
  crates/handlers/src/views/register/steps/mod.rs
  crates/handlers/src/views/register/steps/registration_token.rs
  crates/router/src/endpoints.rs
  crates/storage-pg/.sqlx/query-5133f9c5ba06201433be4ec784034d222975d084d0a9ebe7f1b6b865ab2e09ef.json
  crates/storage-pg/.sqlx/query-5bb3ad7486365e0798e103b072514e66b5b69a347dce91135e158a5eba1d1426.json
  crates/storage-pg/.sqlx/query-860e01cd660b450439d63c5ee31ade59f478b0b096b4bc90c89fb9c26b467dd2.json
  crates/storage-pg/.sqlx/query-89edaec8661e435c3b71bb9b995cd711eb78a4d39608e897432d6124cd135938.json
  crates/storage-pg/.sqlx/query-b3568613352efae1125a88565d886157d96866f7ef9b09b03a45ba4322664bd0.json
  crates/storage-pg/.sqlx/query-d0355d4e98bec6120f17d8cf81ac8c30ed19e9cebd0c8e7c7918b1c3ca0e3cba.json
  crates/storage-pg/.sqlx/query-fca331753aeccddbad96d06fc9d066dcefebe978a7af477bb6b55faa1d31e9b1.json
  crates/storage-pg/migrations/20250602212100_user_registration_tokens.sql
  crates/storage-pg/migrations/20250602212101_idx_user_registration_token.sql
  crates/storage-pg/src/iden.rs
  crates/storage-pg/src/repository.rs
  crates/storage-pg/src/user/mod.rs
  crates/storage-pg/src/user/registration.rs
  crates/storage-pg/src/user/registration_token.rs
  crates/storage/src/repository.rs
  crates/storage/src/user/mod.rs
  crates/storage/src/user/registration.rs
  crates/storage/src/user/registration_token.rs
  crates/templates/src/context.rs
  crates/templates/src/lib.rs
  docs/api/spec.json
  docs/config.schema.json
  docs/reference/cli/manage.md
  docs/reference/configuration.md
  templates/pages/register/steps/registration_token.html
  translations/en.json
Labels: A-Registration-Flow, T-Enhancement

#4617 Add secrets.encryption_file config option
  Cargo.lock
  crates/cli/src/commands/config.rs
  crates/cli/src/commands/server.rs
  crates/cli/src/commands/syn2mas.rs
  crates/config/Cargo.toml
  crates/config/src/sections/secrets.rs
  docs/config.schema.json
  docs/reference/configuration.md
Labels: A-Configuration, T-Task

#4675 README, contribution and release documentation
  CONTRIBUTING.md
  README.md
  docs/SUMMARY.md
  docs/development/contributing.md
  docs/development/releasing.md
  frontend/package.json
  overview.png
Labels: A-Documentation

#4678 Bump most frontend dependencies
  frontend/.storybook/public/mockServiceWorker.js
  frontend/knip.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SessionDetail/__snapshots__/CompatSessionDetail.test.tsx.snap
  frontend/src/components/SessionDetail/__snapshots__/OAuth2SessionDetail.test.tsx.snap
  frontend/tests/routes/account/__snapshots__/index.test.tsx.snap
Labels: A-Dependencies, Z-Deps-Frontend

#4702 Fix loading of DER-encoded key files
  crates/config/src/sections/secrets.rs
Labels: T-Defect
