Repository element-hq/matrix-authentication-service, pull requests merged in 2025-03, with the labels that each got.

#4131 Support for allowing/banning specific username patterns during registration
  crates/policy/src/model.rs
  docs/reference/configuration.md
  policies/register/register.rego
  policies/register/register_test.rego
  templates/components/field.html
  translations/en.json
Labels: A-Policy, T-Enhancement

#4132 Remove spuriuous ICU errors from the logs
  crates/i18n/src/translator.rs
Labels: T-Task

#4121 Ignore guest devices and empty IPs when migrating from Synapse
  crates/syn2mas/src/migration.rs
  crates/syn2mas/src/synapse_reader/mod.rs
Labels: A-Migration, T-Task

#4145 Allow configuring a 'read-only' connection to the homeserver
  crates/cli/src/app_state.rs
  crates/cli/src/commands/manage.rs
  crates/cli/src/commands/server.rs
  crates/cli/src/commands/worker.rs
  crates/cli/src/util.rs
  crates/config/src/sections/matrix.rs
  crates/config/src/sections/mod.rs
  crates/handlers/src/admin/mod.rs
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/users/add.rs
  crates/handlers/src/admin/v1/users/unlock.rs
  crates/handlers/src/bin/api-schema.rs
  crates/handlers/src/compat/login.rs
  crates/handlers/src/compat/login_sso_complete.rs
  crates/handlers/src/graphql/mod.rs
  crates/handlers/src/graphql/model/matrix.rs
  crates/handlers/src/graphql/state.rs
  crates/handlers/src/lib.rs
  crates/handlers/src/oauth2/token.rs
  crates/handlers/src/test_utils.rs
  crates/handlers/src/upstream_oauth2/link.rs
  crates/handlers/src/views/login.rs
  crates/handlers/src/views/register/password.rs
  crates/handlers/src/views/register/steps/finish.rs
  crates/matrix-synapse/src/lib.rs
  crates/matrix/src/lib.rs
  crates/matrix/src/mock.rs
  crates/matrix/src/readonly.rs
  crates/tasks/src/lib.rs
  docs/config.schema.json
Labels: A-Homeserver-Integration, T-Enhancement

#4120 Pass the MasWriter as owned to the various migration functions
  crates/cli/src/commands/syn2mas.rs
  crates/syn2mas/src/migration.rs
Labels: A-Migration, T-Task

#4122 Properly ignore devices, threepids and access tokens from AS users
  crates/syn2mas/src/mas_writer/mod.rs
  crates/syn2mas/src/migration.rs
  crates/syn2mas/src/synapse_reader/mod.rs
  crates/syn2mas/src/synapse_reader/snapshots/syn2mas__synapse_reader__test__read_users.snap
Labels: A-Migration, T-Task

#4133 Handle AS users with invalid localparts edge case
  crates/syn2mas/src/migration.rs
Labels: A-Migration, T-Enhancement

#4067 Allow compat session devices to have spaces
  crates/cli/src/commands/manage.rs
  crates/data-model/src/compat/device.rs
  crates/data-model/src/compat/mod.rs
  crates/data-model/src/lib.rs
  crates/handlers/src/admin/model.rs
  crates/handlers/src/graphql/query/session.rs
  crates/handlers/src/oauth2/introspection.rs
  crates/oauth2-types/src/requests.rs
  crates/storage-pg/src/app_session.rs
  crates/storage-pg/src/compat/session.rs
  crates/storage-pg/src/oauth2/session.rs
Labels: A-Compatibility-Layer, T-Defect

#4159 Update Ring to 0.17.13 to fix RUSTSEC-2025-0009
  Cargo.lock
Labels: A-Dependencies, Z-Deps-Backend

#4158 Require confirming account password before changing account emails
  crates/handlers/src/graphql/mutations/user_email.rs
  frontend/locales/en.json
  frontend/schema.graphql
  frontend/src/components/PasswordConfirmation.tsx
  frontend/src/components/UserEmail/UserEmail.module.css
  frontend/src/components/UserEmail/UserEmail.tsx
  frontend/src/components/UserProfile/AddEmailForm.tsx
  frontend/src/components/UserProfile/UserEmailList.tsx
  frontend/src/gql/gql.ts
  frontend/src/gql/graphql.ts
  frontend/src/routes/_account.index.lazy.tsx
  frontend/src/routes/_account.index.tsx
  frontend/stories/routes/index.stories.tsx
  frontend/tests/mocks/handlers.ts
  frontend/tests/routes/account/__snapshots__/index.test.tsx.snap
Labels: A-Account-Management, T-Enhancement

#4169 Adjust the jobs retry delays and number of attempts
  crates/tasks/src/new_queue.rs
Labels: A-Jobs, T-Task

#4172 Ignore RUSTSEC-2024-0436 and RUSTSEC-2024-0437 for now
  deny.toml
Labels: T-Task

#4173 Properly accumulate form errors on the upstream register page
  crates/handlers/src/upstream_oauth2/link.rs
Labels: A-Upstream-OAuth, T-Task

#4175 syn2mas: better performance, output tweaks, tracing tweaks, access token fixes
  Cargo.lock
  crates/cli/src/commands/syn2mas.rs
  crates/syn2mas/Cargo.toml
  crates/syn2mas/src/lib.rs
  crates/syn2mas/src/mas_writer/checks.rs
  crates/syn2mas/src/mas_writer/constraint_pausing.rs
  crates/syn2mas/src/mas_writer/mod.rs
  crates/syn2mas/src/migration.rs
  crates/syn2mas/src/synapse_reader/checks.rs
  crates/syn2mas/src/synapse_reader/mod.rs
Labels: A-Migration, T-Task

#4199 Order the OAuth providers in the UI by their order in the config file
  crates/cli/src/sync.rs
  crates/handlers/src/admin/v1/upstream_oauth_links/mod.rs
  crates/handlers/src/upstream_oauth2/link.rs
  crates/handlers/src/views/login.rs
  crates/storage-pg/.sqlx/query-72de26d5e3c56f4b0658685a95b45b647bb6637e55b662a5a548aa3308c62a8a.json
  crates/storage-pg/.sqlx/query-99f2a0b53e08d23408dc2837d32d734c8a0e706662e72f3b2585b0c38f42c063.json
  crates/storage-pg/.sqlx/query-c1e55ffd09181c0d8ddd0df2843690aeae4a20329045ab23639181a0d0903178.json
  crates/storage-pg/migrations/20250312094013_upstream_oauth2_providers_order.sql
  crates/storage-pg/src/upstream_oauth2/mod.rs
  crates/storage-pg/src/upstream_oauth2/provider.rs
  crates/storage/src/upstream_oauth2/provider.rs
  crates/syn2mas/src/mas_writer/snapshots/syn2mas__mas_writer__test__write_user_with_upstream_provider_link.snap
Labels: A-Login-Flow, A-Upstream-OAuth, T-Task

#4198 Better feedback on failure cases during login
  crates/handlers/src/views/login.rs
Labels: A-Login-Flow, T-Enhancement

#4208 syn2mas: disable logging of slow statements, better access token query perf
  crates/cli/src/commands/syn2mas.rs
  crates/cli/src/util.rs
  crates/syn2mas/src/synapse_reader/mod.rs
Labels: A-Migration, T-Task

#4209 Allow users to deactivate their own account in the UI
  crates/cli/src/util.rs
  crates/config/src/sections/account.rs
  crates/data-model/src/site_config.rs
  crates/handlers/src/graphql/model/site_config.rs
  crates/handlers/src/graphql/mutations/mod.rs
  crates/handlers/src/graphql/mutations/user.rs
  crates/handlers/src/graphql/mutations/user_email.rs
  crates/handlers/src/test_utils.rs
  docs/config.schema.json
  docs/reference/configuration.md
  frontend/locales/en.json
  frontend/schema.graphql
  frontend/src/components/AccountDeleteButton.tsx
  frontend/src/components/Client/__snapshots__/OAuth2ClientDetail.test.tsx.snap
  frontend/src/components/Dialog/Dialog.module.css
  frontend/src/components/Dialog/Dialog.tsx
  frontend/src/components/Separator/Separator.module.css
  frontend/src/components/Separator/Separator.tsx
  frontend/src/components/Separator/index.tsx
  frontend/src/components/SessionDetail/SessionInfo.tsx
  frontend/src/components/SessionDetail/__snapshots__/CompatSessionDetail.test.tsx.snap
  frontend/src/components/SessionDetail/__snapshots__/OAuth2SessionDetail.test.tsx.snap
  frontend/src/gql/gql.ts
  frontend/src/gql/graphql.ts
  frontend/src/routes/_account.index.lazy.tsx
  frontend/src/routes/_account.index.tsx
  frontend/src/routes/_account.sessions.index.lazy.tsx
  frontend/src/routes/password.change.index.lazy.tsx
  frontend/stories/routes/index.stories.tsx
  frontend/tests/mocks/handlers.ts
  frontend/tests/routes/account/__snapshots__/index.test.tsx.snap
Labels: A-Account-Management, T-Enhancement

#4115 Admin API to dynamically set policy data
  Cargo.lock
  Cargo.toml
  crates/cli/src/app_state.rs
  crates/cli/src/commands/debug.rs
  crates/cli/src/commands/server.rs
  crates/cli/src/util.rs
  crates/data-model/src/lib.rs
  crates/data-model/src/policy_data.rs
  crates/handlers/src/admin/mod.rs
  crates/handlers/src/admin/model.rs
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/policy_data/get.rs
  crates/handlers/src/admin/v1/policy_data/get_latest.rs
  crates/handlers/src/admin/v1/policy_data/mod.rs
  crates/handlers/src/admin/v1/policy_data/set.rs
  crates/handlers/src/bin/api-schema.rs
  crates/handlers/src/test_utils.rs
  crates/policy/Cargo.toml
  crates/policy/src/lib.rs
  crates/storage-pg/.sqlx/query-5006c3e60c98c91a0b0fbb3205373e81d9b75e90929af80961f8b5910873a43e.json
  crates/storage-pg/.sqlx/query-9fe87eeaf4b7d0ba09b59ddad3476eb57ccb6e4053ab8f4450dd4a9d1f6ba108.json
  crates/storage-pg/.sqlx/query-b6c4f4a23968cba2a82c2b7cfffc05a7ed582c9e5c1f65d27b0686f843ccfe42.json
  crates/storage-pg/migrations/20250225091000_dynamic_policy_data.sql
  crates/storage-pg/src/lib.rs
  crates/storage-pg/src/policy_data.rs
  crates/storage-pg/src/repository.rs
  crates/storage/src/lib.rs
  crates/storage/src/policy_data.rs
  crates/storage/src/queue/tasks.rs
  crates/storage/src/repository.rs
  crates/tasks/src/database.rs
  crates/tasks/src/lib.rs
  docs/api/spec.json
Labels: A-Admin-API, A-Policy, T-Enhancement

#4258 Disable Verification for Microsoft Azure AD OIDC config example
  docs/setup/sso.md
Labels: A-Documentation, A-Upstream-OAuth, T-Task

#4290 Use automatic route code splitting
  frontend/src/gql/gql.ts
  frontend/src/gql/graphql.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_account.index.lazy.tsx
  frontend/src/routes/_account.index.tsx
  frontend/src/routes/_account.lazy.tsx
  frontend/src/routes/_account.sessions.browsers.lazy.tsx
  frontend/src/routes/_account.sessions.browsers.tsx
  frontend/src/routes/_account.sessions.index.lazy.tsx
  frontend/src/routes/_account.sessions.index.tsx
  frontend/src/routes/_account.tsx
  frontend/src/routes/clients.$id.lazy.tsx
  frontend/src/routes/clients.$id.tsx
  frontend/src/routes/emails.$id.verify.lazy.tsx
  frontend/src/routes/emails.$id.verify.tsx
  frontend/src/routes/password.change.index.lazy.tsx
  frontend/src/routes/password.change.index.tsx
  frontend/src/routes/password.change.success.tsx
  frontend/src/routes/password.recovery.index.lazy.tsx
  frontend/src/routes/password.recovery.index.tsx
  frontend/src/routes/sessions.$id.lazy.tsx
  frontend/src/routes/sessions.$id.tsx
  frontend/tests/routes/__snapshots__/reset-cross-signing.test.tsx.snap
  frontend/vite.config.ts
Labels: A-Frontend, T-Task

#4294 Replace data-encoding with base64ct
  Cargo.lock
  crates/axum-utils/Cargo.toml
  crates/axum-utils/src/csrf.rs
  crates/oauth2-types/Cargo.toml
  crates/oauth2-types/src/pkce.rs
Labels: T-Task

#4289 Speed up local docker rebuilds & CI cache exports
  Dockerfile
Labels: A-CI, A-Container, T-Task

#4293 Deduplicate client registrations by hashing the metadata
  Cargo.lock
  Cargo.toml
  crates/data-model/src/oauth2/client.rs
  crates/handlers/Cargo.toml
  crates/handlers/src/graphql/tests.rs
  crates/handlers/src/oauth2/registration.rs
  crates/jose/Cargo.toml
  crates/oauth2-types/Cargo.toml
  crates/oauth2-types/src/registration/client_metadata_serde.rs
  crates/oauth2-types/src/registration/mod.rs
  crates/oauth2-types/src/response_type.rs
  crates/storage-pg/.sqlx/query-38d0608b7d8ba30927f939491c1d43cfd962c729298ad07ee1ade2f2880c0eb3.json
  crates/storage-pg/.sqlx/query-4d0386ad2fe47f1aded46917abe6141752ba90d36467693a68318573171d57b0.json
  crates/storage-pg/.sqlx/query-92fb511938dff21e5e0f7800c742b852b8c4468d1770c4cbc0b51611ce50e922.json
  crates/storage-pg/.sqlx/query-bb0f782756c274c06c1b63af6fc3ac2a7cedfd4247b57f062d348b4b1b36bef1.json
  crates/storage-pg/.sqlx/query-cf654533cfed946e9ac52dbcea1f50be3dfdac0fbfb1e8a0204c0c9c103ba5b0.json
  crates/storage-pg/.sqlx/query-fc9925e19000d79c0bb020ea44e13cbb364b3505626d34550e38f6f7397b9d42.json
  crates/storage-pg/migrations/20250325102310_oauth2_clients_hash.sql
  crates/storage-pg/src/app_session.rs
  crates/storage-pg/src/oauth2/client.rs
  crates/storage-pg/src/oauth2/mod.rs
  crates/storage/src/oauth2/client.rs
Labels: A-Client-Registration, T-Enhancement

#4302 Update governor to 0.10.0
  Cargo.lock
  Cargo.toml
Labels: A-Dependencies, T-Task, Z-Deps-Backend
